
<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="text/javascript">
    let user = '{{request.user}}'

     function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
       }
       return cookieValue;
      }
      const csrftoken = getCookie('csrftoken');
</script>

    <title>about</title>

</head>

<body>
    {%  include "storeapp/nav_bar.html" %}
    <div class="img-container">
        <div class="img-div"><img class="home-img img " src="{% static 'images/home-bg.jpg' %}" /></div>
    </div>

        <footer>
            <div class="footer-container">
                <div class="opening-hours">
                    <p class="opennig-p">Opening hours</p>
                    <p>Monday till Thursday: 09:00AM-10:30PM</p>
                    <p>Friday till Sunday: 09:00AM-11:00PM</p>
                </div>
                <div>
                    <p class="contact-p">contact us</p>
                    <p><span>Email</span> info@gmail.com</p>
                    <p><span>Tel</span> 09068232323</p>
                </div>
                <div>
                    <p class="locations-p">locations</p>
                    <p>cheif palace Bwari,Abuja</p>
                </div>
                <div class="-italic"> Copyright &copy; Your Website 2022</div>
            </div>

        </footer>



</body>

</html>
</body>
</html>