<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1> {{customer}}</h1>
    {% for i in ordered%}
   <h1> {{i.date_ordered }}</h1>
    <h1> {{i}}</h1>
    {%endfor%}
    <h1><hr/></h1>
    <h1> {{customer}}</h1>
    {% for i in ordered_all%}
   <h1> {{i.date_ordered }}</h1>
    <h1> {{i}}</h1>
    {%endfor%}
    <h1><hr/></h1>
  {% for i in transaction_id  %}
   <h1> {{i.product}}</h1>
    <h1> {{i.quantity}}</h1>
    <hi> {{i.date_ordered}}</hi>
    {%endfor%}

</body>
</html>